@layer ui {
.copy {
  padding: 2px var(--space-6);
  font-size:var(--text-base);
  line-height: 1;
  color: var(--color-text-secondary);
}

.copy:hover,
.copy:focus-visible {
  color: var(--color-accent);
}

.text {
  font-size: var(--text-xs);
  padding: 3px var(--space-8);
}
}
